.car {
    margin: 0 auto;
    background:white;
    border-radius:5px;
    padding:20px;
    margin:20px;
    
}
.car h2, .car h1 {
    margin:0 auto;
    text-align:center;
}
@keyframes slideCar_name {
   0% {
       opacity:0.4;
   }
    100% {
        opacity:1;
    }
}

.car .car_name {
    animation: 1.3s  slideCar_name forwards ease-out;
    font-size: 65px;
    overflow:hidden;
    
}
.car img {
    width:75%;
    display:block;
    margin:0 auto;
}
.car .color {
    border:solid 1px;
    height:10px;
    width:10px;
    border-radius: 50%;
    margin:5px;
    background:rgba(255, 0, 0, 0.747);
    cursor:pointer;
    transition:0.7s;
}
.palette :nth-child(1) {
    background:white;
}
.palette :nth-child(2) {
    background:black;
}
.palette :nth-child(3) {
    background:#fce474;
}

.car .color:hover {
    transform:translateX(5px);
}
.details {
    margin-top:70px;
}
.title {
    width:50%;
    border-bottom:solid 1px;
}
.title-bloc {
    border-radius:5px;
    background:rgb(27, 27, 27);
    color:white;
    width:50%;
    margin:0 auto;
    text-align:center;
    padding:5px;
    
}