<div class="car">
    <h1 class="car_name">Bugatti Sang noir</h1>

    <div class="palette">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
    </div>
    <img src="assets/car_img/buga_car.png" alt="">
    <div class="gallery">

    </div>
    <div class="details">
        <h2 class="title-bloc">Caractéristiques :</h2>
    <h3 class="title">Détails techniques :</h3>
    <div class="description">
        Roues incroyables oulalala
    </div>
    <h3 class="title"> Prix du modèle :</h3>
    <div class="description">1 890 000 €</div>
    <h3 class="title">Accessoires utiles :</h3>
    <div class="description"></div>
    </div>
</div>