<div class="inscription" [style.backgroundSize]="'cover'">
    <form>
        <h2>Inscription</h2>
        <label for="lastname">Nom</label> 
        <input type="lastname" placeholder="Nom">
        <label for="firstname">Prénom</label> 
        <input type="firstname" placeholder="Prénom">
        <label for="email">E-mail</label> 
        <input type="email" placeholder="E-mail">
        <label for="password">Mot de passe</label> 
        <input type="password" placeholder="Mot de passe">
        <label for="password">Confirmer mot de passe</label> 
        <input type="password" placeholder="Confirmer mot de passe">
        <a href="#">J'ai un compte</a>
        <button type="submit">S'inscrire</button>
    </form>
</div>