.inscription {
    display:flex;
}
form {
    border-radius:5px;
    padding:20px;
    width:40%;
    height:600px;
    margin:10px auto;
    background:rgba(0, 0, 0, 0.767);
    text-align:center;
    color:white;
    position:relative;

}
form a {
    margin-top:20px;
    color:white;
    text-decoration: underline;
}
form input {

    border:none;
    font-family: 'Alata', sans-serif;
    display:block;
    margin: 10px auto;
    padding:10px;
    width:70%;
    border-radius:5px; 
}
form button {
    position: absolute;
    display:block;
    right:0;
    left:0;
    bottom:50px;
    margin:0 auto;
    border:solid white;
    background:white;
    color:black;
    padding:8px;
    border-radius:5px;
    font-size:1.1rem;
    transition: 0.4s ease-out;
    cursor:pointer;
   
}
form button:hover {
    transform:translateY(-5px);
    border:solid;
    color:white;
    background: transparent;
}
@media (max-width: 800px) {
    form {
        width:70%;
    }
}