header {
    position:sticky;
    box-sizing: border-box;
    width: 100%;
    top:0;
    background:rgb(27, 27, 27, 0.98);
    color:white;
    display:flex;
    justify-content: space-between;
    z-index:3;
}
.website a{
    color:white;
    letter-spacing: 8px;
    padding:0px 0px 0px 7px;
    border:solid;
    border-radius:5px;
   
}
.website {
    margin-left:10px;
}

header nav ul {
    margin-top:32px;
}
header nav ul li {
    display:inline;
    margin:10px;
}
header nav ul li a {
    color:white;
    padding:10px;
    
}
header nav ul li a:hover {
    border-radius:5px;
    background:white;
    color:black;
}
footer {
    width:100%;
    height:150px;
    background:rgb(27, 27, 27);
    color:white;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
}
footer .social_media {
    margin:10px auto;
}

footer .social_media img {
    width:20px;
    margin:5px;
    opacity:0.9;
    transition:0.5s ease;
}
footer .social_media img:hover {
    transform:translateY(-3px);
    opacity:1;
}
footer .copyright {
    text-align:center;
}
@media (max-width:400px) {
    header nav ul li a {
        font-size: 0.7rem;
        padding:5px;
        
    }   
}