<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <h1 class="website"><a href="home">KARa</a></h1>

  <nav>
    <ul>
      <li><a href="inscription">S'inscrire</a></li>
      <li><a href="connexion">Connexion</a></li>
    </ul>
  </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <i class="follow">Suivez-nous :</i> 
    <div class="social_media">
      
     <a href="#"><img src="assets/icon/facebook_blanc.png" alt="facebook"></a>
     <a href="#"> <img src="assets/icon/twitter_blanc.png" alt="twitter"></a>
     <a href="#"> <img src="assets/icon/instagram_blanc.png" alt="instagram"></a>
     <a href="#"><img src="assets/icon/lk_blanc.png" alt="linkedin"></a>
    </div>
    <p class="copyright">&copy; Copyright 2020 Djibril SERBOUT</p>
  </footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

