
<div class="main_catalog">

    <div class="sidebar">
        <h2>Filtres :</h2>
        <h3>Recherche rapide : </h3>
        <input type="text" placeholder="Ex: Bugatti Sang Noir">
        <div class="types">
            <h3>Types : </h3>
            Voitures sportives <input type="radio" name="" id="">
        Voitures de luxe <input type="radio" name="" id="">
        </div>
        <h3>Marques :</h3> 
                   <div class="brand">
                     Bugatti <input type="radio" name="" id="">
                    </div>
                    <div class="brand">
                        Ferrari <input type="radio" name="" id="">
                       </div>
                       <div class="brand">
                        Mercedes <input type="radio" name="" id="">
                       </div>
                       
        <h3>Couleurs : </h3>
                <div class="palette">
                    
                    <div class="color"></div>
                    
                    <div class="color"></div>
                    
                    <div class="color"></div>
                    
                    <div class="color"></div>
                </div>
                   
     </div>
    <div class="catalog">
        <div class="cars">
            
                <div class="car">
                    <a href="car">Bugatti Sang Noir
                <img src="assets/car_img/buga_car.png" alt="">
            </a>
                <div class="palette">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
            
            </div>
                

            <div class="car">
                <a href="car">Lamborghini
                <img src="assets/car_img/lamb_car.png" alt="">
                </a>
                <div class="palette">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
            </div>
            <div class="car">
                <a href="car">Ferrari
                <img src="assets/car_img/ferrari_car.png" alt="">
                </a>
                <div class="palette">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
            </div>
            <div class="car">
                <a href="car">Porsche
                <img src="assets/car_img/porsche_car.webp" alt="">
                </a>
                <div class="palette">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
            </div>
            <div class="car">
                <a href="car">Bugatti Sang Noir
            <img src="assets/car_img/buga_car.png" alt="">
        </a>
            <div class="palette">
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
            </div>
        
        </div>
            

        <div class="car">
            <a href="car">Lamborghini
            <img src="assets/car_img/lamb_car.png" alt="">
            </a>
            <div class="palette">
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
            </div>
        </div>
        <div class="car">
            <a href="car">Ferrari
            <img src="assets/car_img/ferrari_car.png" alt="">
            </a>
            <div class="palette">
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
            </div>
        </div>
        <div class="car">
            <a href="car">Porsche
            <img src="assets/car_img/porsche_car.webp" alt="">
            </a>
            <div class="palette">
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
            </div>
        </div>
        <div class="car">
            <a href="car">Bugatti Sang Noir
        <img src="assets/car_img/buga_car.png" alt="">
    </a>
        <div class="palette">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
    
    </div>
        

    <div class="car">
        <a href="car">Lamborghini
        <img src="assets/car_img/lamb_car.png" alt="">
        </a>
        <div class="palette">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
    </div>
    <div class="car">
        <a href="car">Ferrari
        <img src="assets/car_img/ferrari_car.png" alt="">
        </a>
        <div class="palette">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
    </div>
    <div class="car">
        <a href="car">Porsche
        <img src="assets/car_img/porsche_car.webp" alt="">
        </a>
        <div class="palette">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
    </div>
    
            
           
        </div>
    </div>
</div>