<div class="main">
    <section class="left-col">
        <img src="assets/car-bg.jpg" alt="audi">
    </section>

    <section class="right-col">
        <h1>TROUVEZ VOTRE VOITURE !</h1>
        <p>Parmi une sélection de plus de 2000 véhicules. Ici ce n'est pas la quantité qui manque (ni la qualité). Vous pourrez retrouver ici de grandes marques tels que Audi, Mercedes-Benz ou BMW* </p>
        <a href="catalogue"> <button>Cliquez ici</button></a>
        <p class="asterisque">* Je ne possède pas ces entreprises. Tous droits réservés</p>
    </section>
    <img class="icon" src="assets/icon/double_arrow.png" alt="scroll">
</div>

<div class="partner" id="yes">
    <h2>Ils nous ont fait confiance*</h2>
    <img class="car_logo " src="../assets/car_logo/bmw_logo.png" alt="bmw">
    <img class="car_logo min" src="../assets/car_logo/mercedes_logo.png" alt="mercedes">
    <img class="car_logo min " src="../assets/car_logo/audi_logo.png" alt="audi">
    <img class="car_logo " src="../assets/car_logo/volk_logo.png" alt="volkswagen">
    <img class="car_logo " src="../assets/car_logo/peugeot_logo.png" alt="peugeot">
    <img class="car_logo max" src="../assets/car_logo/porsche_logo.png" alt="porsche">
    <p class="asterisque">* Je n'ai aucun accord avec ces marques. Tous droits réservés</p>
</div>

<div class="black_container">

    <div class="car">
        <div class="deluxe">
            <a href="catalogue"><p class="title-bloc">Voiture de luxe</p></a>
            <p>Avec leur design sobre, parfait pour vos envies de montrer votre rang social. </p>
            <div class="cars">
            <img id="first_car" src="assets/car_img/bmw_car.webp" alt="bmw">
            <img id="second_car" src="assets/car_img/audi_car.webp" alt="audi">
            <img id="third_car" src="assets/car_img/porsche_car.webp" alt="bmw">
            </div>

        </div>
        <div class="sport">
            <a href="catalogue"><p class="title-bloc">Voiture sportives</p></a>
            <p>Imaginées pour vos excapades nocturnes, la rapidité pour elles n'est plus un problème</p>
            <div class="cars">
            <img id="fourth_car" src="assets/car_img/ferrari_car.png" alt="ferrari">
            <img id="fifth_car" src="assets/car_img/buga_car.png" alt="bugatti">
            <img id="sixt_car" src="assets/car_img/lamb_car.png" alt="lamborghini">
            </div>

        </div>
    </div>

</div>

<div class="location">
    <div class="contact">
        <h2 >Contact</h2>
        <p>Nous sommes situé principalement en Île-de-France. Nous avons plus de 20 de nos locaux dans le monde.</p>
        <div class="info">
            <p><span class="strong">Adresse :</span> 63 rue de Versailles, Bondy 93140<br><span class="strong">Téléphone</span> : 0782470517 <br><span class="strong">Email</span> : djibril.serbout@gmail.com</p>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d674396.8020384307!2d1.9421731681503267!3d48.67943345137368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e1c403a68c17%3A0x10b82c3688b2570!2s%C3%8Ele-de-France!5e0!3m2!1sfr!2sfr!4v1577982019907!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

