.main {
    display:flex;
}
.main .icon {
    width:40px;
    height:40px;
    position:absolute;
    bottom:70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display:block;
    animation: animScroll infinite alternate 1s;
    z-index:2;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.562);
    padding:5px;
}
@keyframes animScroll {
    100% {
        transform: translateY(20px);
    }
}
.left-col img {
    height:88.3vh;
    transition: 0.2s ;
}

.right-col h1 {
    text-align:center;
    background: black;
    padding:5px;
    font-size:2rem;
    border-radius:5px;
    color:white;
    vertical-align: top;
    border:solid;

}


.right-col {
    background:rgb(27, 27, 27);
    height:88.3vh;
    flex:1;
    padding:20px;
    position:relative;
    box-sizing: border-box;

}

.right-col p {
    color:white;
}
.asterisque {
    position:absolute;
    bottom:10px;
    right:10px;
    font-size:0.6rem;
    color:white;
}
.right-col button {
    position:absolute;
    bottom:20%;
    border:solid white;
    background:white;
    color:black;
    padding:10px;
    border-radius:5px;
    font-size:1.1rem;
    transition: 0.4s ease-out;
    cursor:pointer;
    margin: 0 auto;
    left: 0;
    right: 0;
    display:block;
    
}
.right-col button:hover {
    transform:translateY(-5px);
    border:solid;
    color:white;
    background: transparent;
}
.partner {
    position:relative;
    text-align:center;
    height:20%;
    border-radius:5px;
    background:rgb(245, 245, 245);
    padding:20px;
    margin:20px;
}
.partner h2 {
    text-align:center;
}
.partner .car_logo {
    width:10%;
    margin:20px;
}
.partner .min {
    width:13%
}
.partner .max {
    width:8%;
}

.car {
    display:flex;
        height:50%;
    flex-wrap: wrap;
}
.car .deluxe, .car .sport {
    color:white;
    margin: 20px;
    border-radius:5px;
    flex:1 ;
    padding:20px;
    position:relative;
    background:rgba(245, 245, 245, 0.185);

}
.cars {
    text-align:center;
}
.cars  img {
    width:210px;
    opacity:0.4;
    transition: 0.6s ease-out;
    cursor:pointer;
}
.cars #second_car {
    transform:translateY(-10px)
} 

.cars #fourth_car, #sixt_car {
    margin-top:10px;
    width:210px;
}
.cars #fifth_car {
    width:200px;
}
.cars  img:hover {
    opacity:1;
}
.title-bloc {
    position:relative;
    border-radius:5px;
    border:solid;
    background:rgb(27, 27, 27);
    color:white;
    width:50%;
    margin:0 auto;
    font-size:1.3rem;
    text-align:center;
    padding:5px;
    
}
.location {
    display:flex;
    flex-wrap:wrap;
}
.contact {
    background:rgb(245, 245, 245);
    padding:20px;
    width:30%;
    border-radius:5px;
    position: relative;
}
.contact h2 {
    margin: 0 auto;
    text-align:center;
    padding:5px;
    width:50%;
}
.location iframe {
    flex:1;
    border-radius:5px;
    display:block;
    width:70%;
}
.location iframe, .contact {
    margin:20px;
}


@media (max-width: 1334px) {
    .left-col img {
        width:100%;
        height:100%;
    }
    .right-col {
        display:none;
    }
}
@media (max-width: 820px) {
    .partner .car_logo {
        width:18%;
        margin:20px;
        transition:0.5s;
    }
    .partner .min {
        width:20%
    }
    .partner .max {
        width:15%;
    }
    .car {
        flex-flow:column;
        box-sizing: border-box;
        margin:20px;
    }
    .car .deluxe, .car .sport {
        margin:10px auto;
        box-sizing: border-box;
        width:100%;
    }

    .location {
        box-sizing: border-box;
    }
    .contact, .location iframe  {
        width:100%;

    }
    .location iframe {
        height:400px;
    }
    
}

